.navbar {
	border-radius: 0px;
	margin: 0px;
	opacity: 0.9;
}

.mapwrap {
	width: 100%;
	height: 1000px; /* SHOULD BE CHANGEDDDD */
	background-color: purple;
}

.bot-nav {
	color: white;
	font-size: 20px;
}

.btn {
	width: 95%;
	margin: 5px auto 5px auto;
}

html, body, #map-canvas {
height: 100%;
margin: 0px;
padding: 0px
}
