.navbar {
	border-radius: 0px;
	margin: 0px;
	opacity: 0.9;
}

.navbar-fixed-top {
	margin-bottom: 50px;
}

.navbar-fixed-bottom {
	color: white;
	font-size: 20px;
	margin-bottom: 0px;
	min-height: 0px;
}


#tracking-map {
	height: 750px;
}

.btn {
	width: 95%;
	margin: 5px auto 5px auto;
}

html, body, #map-canvas {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px
}

body {
	padding-top: 50px;
}

#settings-hide {
	display: none;
	margin-bottom: 10px;
}

p {
	margin: 5px;
}

#settings-toggle {
	margin-left: 2%;
	margin-top: 5px;
}

.on-off {
	margin-top: 12px;
}
