body {
  padding-top: 50px;
}

#stats {
	padding-left: 10px;
	padding-right: 10px;
}

.stats {
  /*margin-bottom: 10px;*/
  text-align: center;
}
.stats h4 {
  margin-bottom: 0;
  font-size: 1.3em;
}
.quick-stat {
  margin-bottom: 20px;
  width: 50%;
  height: 150px;
}

.stat-circle {
	display: inline-block;
	border-radius: 50%;
	background-color: black;
	width: 90%;
}

.circle-text {
	width: 100%;
}

/*
@media (max-width: 768px) {
	.stat-circle {
		height: 145px;
		width: 145px;
	}

	.circle-text {
		line-height: 145px;
	}
}
*/

.blue {
	background-color: #3E8AE8;
}

.cyan {
	background-color: #51F1FF;
}

.teal {
	background-color: #3EE8A1;
}

.green {
	background-color: #3FFF4D;
}

.page-header {
	margin-left: 28px;
}

#activity-map {
	height: 400px;
	background-color: gray;
}

.nav-pills {
	display: block;
	text-align: center;
}

.selector {
	text-align: center;
}

.selector ul {
	display: inline-table;
}

.selector ul li {
	display: inline;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  background-color: transparent;
  text-decoration: underline;
}

.nav-pills > li.disabled > a:hover,
.nav-pills > li.disabled > a:focus {
  cursor: default;
}

.row {
	margin: 0px;
}

.navbar {
	border-radius: 0px;
	margin: 0px;
	opacity: 0.9;
}

.timespan-modal {
	width: 240px;
	border-radius: 5px;
}

.timespan-content {
	background: #ebedf2;
	opacity: 0.95;
	border-radius: 0px;
}

.timespan-header {
	background-color: #dfe0e6;
	border: none;
}

.timespan-body {
	border: none;
}

.timespan-error {
	border: none;
	padding-top: 0;
	padding-bottom: 0;
}

.timespan-footer {
	margin-top: 0;
	border: none;
}